@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import 'reset';

main {
	width: 100%;
	padding: 10vh 20vw;

	h1 {
		font: normal 60px/1 'black han sans';
		margin-bottom: 80px;
		color: #fff;
	}

	h2 {
		color: orange;
		margin-bottom: 20px;
	}

	video {
		width: 100%;
		margin-bottom: 60px;
	}

	p {
		font: 14px/1.8;
		color: #ddd;
		margin-bottom: 20px;
	}

	strong {
		color: orange;
	}
}
